html,body,div,ul,li
{
    margin: 0;
    padding: 0;
}
/***header 开始 ***/
.px1__header
{
    height:78px;
    background-color: #ed871b;    
}
.px1__header__wrapper
{
    position: relative;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    /*background-color: #000000;*/              
}
.px1__logo
{
    width: 246px;
    height: 38px;
    background-image: url(../images/common/logo.png);
    margin-top: -14px;
    position: absolute;
    left: 28px;
    top:50%;    
}
/***header 结束 ***/
/***menu 开始 ***/
.px1__menu
{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.px1__menu__btnMenuOpen
{
    width: 106px;
    height: 78px;
    background-image: url(../images/common/btnMenuOpen.png);
    cursor: pointer;
}
.px1__menu__open
{
    width: 357px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ed871b;          
}
.px1__menu__open__btnMenuClose
{
    width: 106px;
    height: 78px;
    background-image: url(../images/common/btnMenuClose.png);
    position: absolute;
    right: 0;
    cursor: pointer;
}

/***menu 结束 ***/
/***footer 开始 ***/
/***footer 结束 ***/

