html,body,div,ul,li
{
    margin: 0;
    padding: 0;
}

/***header 开始 ***/
.header
{
    position: absolute;
    width: 100%;
    height:78px;
    background-color: #ed871b;   
}
.header_transparent
{
    background-color: transparent;
    border-bottom: solid 1px #ffffff;
}
.header__wrapper
{
    position: relative;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.header__logo
{
    width: 246px;
    height: 38px;
    background-image: url(../images/common/logo.png);
    margin-top: -14px;
    position: absolute;
    left: 28px;
    top:50%;    
}
/***header 结束 ***/

/***menu 开始 ***/
.menu
{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.menu__btnMenuOpen
{
    width: 106px;
    height: 78px;
    background-image: url(../images/common/btnMenuOpen.png);
    cursor: pointer;
}
.menu__open
{
    width: 357px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ed871b;
    display: none;       
}
.menu__btnMenuClose
{
    width: 106px;
    height: 78px;
    background-image: url(../images/common/btnMenuClose.png);
    position: absolute;
    right: 0;
    cursor: pointer;
}
.menu ul
{
    margin-top: 78px;
}
.menu li
{
    list-style-type: none;
}
.menu a
{
    font-family: "Arial";
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 29px;
    padding: 40px 52px;   
}
.menu a:hover
{
    background-color: #f6a833;
}
/***menu 结束 ***/



