.home
{
    position: relative;
    top:78px;
    width: 1280px;
    margin: 0 auto;
    color: #000000;
    font-family: 'Arial';
    
}
.home__headline
{
    color: #023062;
    font-size: 48px;
    text-align: center;
    line-height: 104px;           
}
.home__copy
{
    color: #435152;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    height: 50px;
}
.home__bg{
    width: 1283px;
    height: 734px;
    background: url(../images/home/bg.png) no-repeat;
    position: absolute;
    top: 230px;
    left: 50%;
    margin-left: -642px;
}
.home__map
{
    width: 784px;
    height: 784px;
    border-radius: 392px;
    background-color: #f6a833;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}
.home__map__wrapper
{
    width: 1551px;
    height: 733px;
    position: absolute;
    background: url(../images/home/map.png) no-repeat;
    top: 33px;
    left: -750px;
}